<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Henrik Persson :: Digital Strategist</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,700italic,400italic' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!--<link rel="icon" type="image/png" href="images/favicon.png">-->

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div id="mainContent" class="one-half column">
        <h2>Henrik Persson <i class="fa fa-code"></i></h2>
        <h5>Digital Strategist</h5>
        <ul class="mainNav">
          <li><a href="#"><i class="fa fa-home"></i> home</a></li>
          <li><a href="#" style="text-decoration: line-through !important;"><i class="fa fa-pencil"></i> blog</a></li>
          <li><a href="#" style="text-decoration: line-through !important;"><i class="fa fa-briefcase"></i> portfolio</a></li>
          <li><a href="#" style="text-decoration: line-through !important;"><i class="fa fa-file"></i> cv</a></li>
        </ul>
        <p>I am an avid <strong>consumer</strong>, <strong>thinker</strong>, and <strong>creator</strong> of all things digital. Working as the Director of Digital Technologies at the <a href="http://indianamuseum.org" target="_blank">Indiana State Museum</a> I am responsible for every digital touchpoint that a visitor encounters.</p>
      </div>
    </div>
    <div class="row showlarge">
      <div class="one column mono-1">&nbsp;</div>
      <div class="one column mono-2">&nbsp;</div>
      <div class="one column mono-3">&nbsp;</div>
      <div class="one column mono-4">&nbsp;</div>
      <div class="one column mono-5">&nbsp;</div>
      <div class="one column mono-6">&nbsp;</div>
      <div class="six columns mono-7">&nbsp;</div>
    </div>
    <div class="row showlarge">
      <div class="three columns mono-1">&nbsp;</div>
      <div class="three columns mono-2">&nbsp;</div>
      <div class="three columns mono-3">&nbsp;</div>
      <div class="three columns mono-4">&nbsp;</div>
    </div>
    <div class="row showlarge">
      <div class="three columns mono-5">&nbsp;</div>
      <div class="three columns mono-6">&nbsp;</div>
      <div class="six columns mono-7">&nbsp;</div>
    </div>
    <div class="row">
      <div class="one-half column">&nbsp;</div>
      <div class="one-half column">
        <a href="https://twitter.com/henrikpp" target="_blank"><i class="fa fa-twitter" title="twitter"></i></a> 
        <a href="https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile" target="_blank"><i class="fa fa-linkedin" title="linkedin"></i></a> 
        <a href="https://github.com/xhenrikppx" target="_blank"><i class="fa fa-github-alt" title="github"></i></a> 
        <a href="https://www.drupal.org/u/henrik-persson" target="_blank"><i class="fa fa-drupal" title="drupal"></i></a>
        <a href="http://instagram.com/henrikpp" target="_blank"><i class="fa fa-instagram" title="instagram"></i></a> 
        <a href="http://www.last.fm/user/henrikpp" target="_blank"><i class="fa fa-lastfm" title="lastfm"></i></a> 
        <a href="http://iheartthis.net/" target="_blank"><i class="fa fa-tumblr" title="tumblr"></i></a> 
        <a href="http://www.pinterest.com/henrikp/" target="_blank"><i class="fa fa-pinterest" title="pinterest"></i></a>
        <a href="skype:henrik.persson.indy?chat" target="_blank"><i class="fa fa-skype" title="skype" id="SkypeButton_Call_henrik.persson.indy_1"></i></a>
        <a href="https://play.spotify.com/user/henrikpp" target="_blank"><i class="fa fa-spotify" title="spotify"></i></a>
        <a href="http://thehenrik.com" target="_blank"><i class="fa fa-pencil" title="ghost blog"></i></a>
        <!--
        <a href="http://twitter.com/henrikpp"><i class="fa fa-facebook"></i></a> 
        <a href="http://twitter.com/henrikpp"><i class="fa fa-reddit"></i></a>  
        <a href="http://twitter.com/henrikpp"><i class="fa fa-soundcloud"></i></a> 
        <a href="http://twitter.com/henrikpp"><i class="fa fa-whatsapp"></i></a> 
        -->
      </div>
    </div>
  </div>

  <!-- Backbone Templates
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!--
  <script id="personTemplate" type="text/template">
    <strong><%= name %></strong> (<%= age %>) - <%= occupation %>
  </script>
  -->
  
  <!-- required JavaScript
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script data-main="js/main" src="js/require.js"></script>

<!-- Google Analytics
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script>
/**/

  var _gaq=[['_setAccount','UA-2812369-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0]; 
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));

/**/
</script>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
